* {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #f8f8f8;
  background: rgba(252, 163, 17, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
}
.todo {
  background-color: #000b29;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border-radius: 20px;
  padding: 30px;
  width: 60%;
}
.Todo {
  width: 100%;
  /* background-color: red; */
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 10px;
  width: 100%;
  /* background-color: grey; */
}
.input input {
  width: 318px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid;
  border-color: grey;
  font-size: 20px;
  font-weight: 900;
  padding-left: 7px;
  width: 100%;
  outline: none;
}
.input button {
  font-size: 30px;
  font-weight: 1000;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid;
  border-color: grey;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.counter button {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
  /* font-size: 15px; */
  font-weight: 1000;
}
.counter button:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(121, 10, 10);
  transition: 0.5s;
}
.maincardHolder {
  /* background-color: red; */
  width: 100%;
}
.cardHolder {
  overflow-y: scroll;
  max-height: 350px;
  min-height: 50px;
  background-color: #dfdfdf;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.inital {
  color: black;
  font-size: 20px;
  font-weight: 1000;
  /* background-color: red; */
}

.card {
  background: rgba(20, 33, 61, 0.54);
  backdrop-filter: blur(3.7px);
  border: 1px solid rgba(20, 33, 61, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 900;
  height: 40px;
  width: 85%;
}
.delete:hover {
  cursor: pointer;
  color: rgb(121, 10, 10);
  transition: 1s;
}
